.nike-nav ul li a {
  margin-left: 40px !important;
  font-size: 16px;
}

.text-color1 {
  color: #fa804c;
  font-family: Bebas Neue;
  font-style: normal;
  font-weight: 600;
  font-size: 70px;
  line-height: 96px;
  text-transform: uppercase;
}
.text-color2 {
  color: #363958;

  font-weight: 800;
  font-size: 70px;
  line-height: 96px;
  text-transform: uppercase;
}
p {
  color: rgb(54, 48, 48);
  font-size: 20px;
}

button {
  background: linear-gradient(180deg, #3d4ff3 0%, #3543bc 100%);
  width: 160px;
  height: 50px;
}

button:hover {
  background: linear-gradient(180deg, #37419b 0%, #3543bc 100%);
  width: 160px;
  height: 50px;
}
